<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataSearcher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BookstoreEntities" connectionString="metadata=res://*/BookstoreModel.csdl|res://*/BookstoreModel.ssdl|res://*/BookstoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Bookstore;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <applicationSettings>
    <DataSearcher.Settings>
      <setting name="SimpleSearchFile" serializeAs="String">
        <value>../../simple-query.xml</value>
      </setting>
      <setting name="ComplexSearchRead" serializeAs="String">
        <value>../../reviews-search-results.xml</value>
      </setting>
      <setting name="ComplexSearchWrite" serializeAs="String">
        <value>../../reviews-queries.xml</value>
      </setting>
    </DataSearcher.Settings>
  </applicationSettings>
</configuration>